<% provide(:title, "Log in") %>

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>


<body>
<h1><font size="20" class= "fire-text">Shop or Drop</font></h1>

<style>
  body{
    background-image: url("https://media.giphy.com/media/nKERd2uhn8hhe/giphy.gif");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    vertical-align: middle;
    text-align:center;
  }

 </style>

<body>

  <% if flash.now[:danger] %>
    <%= flash.now[:danger] %>
  <% end %>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

  <%if session[:user_type] == "Buyer"  %>
        <p>New Buyer? <%= link_to "Sign up now!", new_buyer_path %></p>
      <% elsif session[:user_type] == "Seller"  %>
        <p>New Seller? <%= link_to "Sign up now!", new_seller_path %></p>
      <% end %>
    </div>
  </div>
</body>
