<style>
  div { margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
</style>


<h1>Listing</h1>

  <p>Seller: <%= @listing.seller_username %><br>
  <p> Product Name : <%= @listing.product_name %></p> <br>
  <p>Description: <%= @listing.product_description %> </p>
  <p> Price: <%= @listing.price %> </p>
  <p>Quantity: <%= @listing.quantity %></p>
  <%= image_tag @listing.image_url %>


  <%= link_to 'Edit', edit_listing_path %>
  <%= button_to "Delete Listing", @listing, method: :delete, data: { confirm: "Are you sure you want to delete this listing?" } %>
