<h1>Seller</h1>

<p> First Name: <%= @seller.first_name %></p>
  <p>Last Name: <%= @seller.last_name %> </p>
  <p> Username: <%= @seller.username %> </p>
  <p>Email: <%= @seller.email %></p>

  <%= link_to 'Edit', edit_seller_path %>
  <%= link_to 'Delete', seller_path(@seller), method: :delete %>
  <%= link_to 'New Listing', new_listing_path %>
  <%= link_to 'New Product', new_product_path %>
  <%= link_to 'Your Listings', listings_path %>
  <%= link_to 'Your Products', products_path%>
