<h1><font size="5" class= "fire-text">Shop Or Drop</font></h1>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>

<style>
  div { margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: white;
  }
    img {
   width: auto;
   height: auto;
   max-width:600px;
 }
 h1 {
   text-align: center;
 }

 body {
  background-image: url("https://media.giphy.com/media/xT9DPxTnuhLPORFpvi/giphy.gif");
 }

 button {
  padding: 1px 6px 1px 6px;
}

button img {
  width: 180px;
  height: 160px;
}

</style>

<button><%= link_to 'My Page', buyer_path(session[:buyer_id]) %></button><br><br>


<% if session[:last_swipe] == nil %>
    <div class="animated faster bounceInDown content">
  <% elsif session[:last_swipe] == "like" %>
    <div class="animated faster bounceInLeft content">
  <%elsif session[:last_swipe] == "dislike" %>
    <div class="animated faster bounceInRight content">
  <%elsif session[:last_swipe] == "superlike" %>
    <div class="animated faster bounceInUp content">
  <%else %>
    <div class="animated faster bounceInDown content">
  <%end%>
  <p><span style="font-weight:bold;">Name: </span><%=@product.name%> </p>
  <p><span style="font-weight:bold;">Description: </span><br><%= @product.description %></p>
  <p><span style="font-weight:bold;">Price $</span><%= Listing.float_to_money(@product.price) %> </p>
  <%= image_tag @product.image_url %>


<button><%= button_to  "This ain't it Chief!", "/swipes", {method: :post, params: {swipe_buyer_id: @swipe.buyer_id, swipe_listing_id: @swipe.listing_id, outcome: 'dislike' }}%>
      <img src="https://media.giphy.com/media/1zSz5MVw4zKg0/giphy.gif"/>
</button>
  <button><%= button_to  "Likeeeee", "/swipes", {method: :post, params: {swipe_buyer_id: @swipe.buyer_id, swipe_listing_id: @swipe.listing_id, outcome: 'like' }}%>
      <img src="https://media.giphy.com/media/1sSfhxzWHJ4vC/giphy.gif"/>
  </button>
  <button>
    <span><%= button_to "Take my money!!", "/swipes", {method: :post, params: {swipe_buyer_id: @swipe.buyer_id, swipe_listing_id: @swipe.listing_id, outcome: 'superlike' }}%>
      <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/264/241/9e9.gif"/>
    </button></span>
</div>
