
<body>
<h1>BUYER</h1>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>

<p> First Name: <%= @buyer.first_name %></p>
  <p>Last Name: <%= @buyer.last_name %> </p>
  <p> Username: <%= @buyer.username %> </p>
  <p>Email: <%= @buyer.email %></p>

  <h4>YOUR CART: </h4>
    <%if flash[:message]%>
    <%= flash[:message] %>
    <% end %>
    <ul>

    <ol>
    <% @listings.each do |listing| %>
      <li><%= listing.product_name %> : $<%= Listing.float_to_money(listing.product_price) %></li> <br>
    <% end %>
    </ol>
    <hr>

  <%= link_to 'Edit', edit_buyer_path %>
  <%= link_to 'Wish List', wishlists_path %>
  <%= link_to 'Swipes', swipes_path %>

  <% if session[:buyer_id] == @buyer.id %>
  <%= button_to "Delete Account", @buyer, method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>
  <%= button_to "Logout", logout_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } %>
  <% end %>
</body>
