
<h1>Your Stats!</h1>
<p>Total Swipes: <%= @buyer.total_swipes %> </p>
<p>Total Dislikes: <%= @buyer.total_dislike_swipes %> </p>
<p>Total Likes: <%= @buyer.total_like_swipes %> </p>
<p>Total Superlikes: <%= @buyer.total_superlike_swipes %> </p>
<p>Total Positive Swipes: <%= @buyer.total_positive_swipes %> </p>
<p>Positive Swipe percentage: <%= @buyer.total_percent_positive %>%    </p>
