<!DOCTYPE html>
<html>
  <head>
    <title>ShopOrDrop</title>
    <!-- <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     -->
     <!-- <nav class="navbar navbar-light bg-light">
       <a class="navbar-brand" href="/">Shop or Drop</a>
       <form class="form-inline">
         <a class="btn btn-outline-primary" href="/login" role="button">
         Login
         </a>
         <div style="padding-left: 10px;">
           <a class="btn btn-outline-success" href="/buyers/new" role="button">
           Sign Up
           </a>
         </div>
       </form>
     </nav>
  </head> -->

  <body>
    <%= yield %>

  </body>
</html>
